<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Start Page</title>
    <link rel="stylesheet" type="text/css" href="/css/body.css"/>
    <link rel="stylesheet" type="text/css" href="/css/header.css"/>
    <script src="/js/index.js"></script>
</head>

<body>
<table id="body-table">

    <tr>
        <th class="header">
            <div>
                <p>Морозова Анастасия Александровна P3230</p>
                <p>Вариант 5547</p>
            </div>
        </th>
    </tr>

    <tr class="body">
        <th>
            <div>
                <div class="clock-area">
                    <span id="clock"></span>
                    <br/>
                    <span id="date"></span>
                </div>
            </div>
        </th>
    </tr>

</table>
</body>
</html>