<!DOCTYPE HTML>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Ana's Web</title>
    <link rel="stylesheet" type="text/css" href="/css/body.css"/>
    <link rel="stylesheet" type="text/css" href="/css/header.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
<div id="body-table">

    <div class="header">
        <div>
            <p>Морозова Анастасия Александровна P3230</p>
            <p>Вариант 5547</p>
        </div>
    </div>

    <div>
        <form id="login">
            <div class="login">
                <input type="text" name="username" v-model="input.username" placeholder="Username">
                <input type="password" v-model="input.password" placeholder="Password">
                <button type="submit" class="gradient-button" v-on:click="login()">Войти</button>
            </div>
        </form>
    </div>

</div>
</body>
</html>