body {
    background: #9D8CA1;
    margin: 0;
    font-family: "Century Gothic", sans-serif;
}

#body-table {
    width: 100%;
    cellpadding: 0;
    cellspacing: 0;
    overflow: hidden;
}

.graph {
    display: flex;
    flex-direction: row;
    margin: 25px;
}

.choose-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    border: 2px groove #524C6B;
    margin: 50px 300px 10px;
    background-color: #B0ABC4;
    box-shadow: 0 0 30px -3px #787099;
}

.table-area {
    display: flex;
    justify-content: center;
}

div[class="checkbox-area"] {
    width: 400px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9993B2;
}

.ordinary-btn {
    color: #9D8CA1;
    display: inline-block;
    border-radius: 45px;
    font-family: "Century Gothic", sans-serif;
    text-transform: uppercase;
    color: black;
    margin: auto 30px;
    width: 40px;
}

#coordinates-form > div {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

#main-table {
    border-collapse: collapse;
    border: 2px groove #4C4248;
    width: 600px;
    color: #4C4248;
}

#main-table th {
    background-color: #81717A;
    border: 2px groove #4C4248;
    font-weight: lighter;
}

#main-table td {
    background-color: #95878f;
    border: 2px groove #4C4248;
}

.gradient-button {
    color: white;
    display: inline-block;
    padding: 10px 10px;
    margin: 10px 20px;
    border-radius: 45px;
    font-family: "Century Gothic", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #A99AAC 0%, #6D5F67 51%, #A99AAC 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}

.gradient-button:hover {
    background-position: right center;
}

.ordinary-btn, .ordinary-btn-R {
    background-color: #b8b4b8;
    display: inline-block;
    border-radius: 45px;
    font-family: "Century Gothic", sans-serif;
    text-transform: uppercase;
    color: black;
    margin: auto 30px;
    width: 40px;
}

.ordinary-btn-selected, .ordinary-btn-selected-R {
    background-color: #6f5976;
    display: inline-block;
    border-radius: 45px;
    font-family: "Century Gothic", sans-serif;
    text-transform: uppercase;
    color: black;
    margin: auto 30px;
    width: 40px;
}

#graph_pic {
    margin-top: 35px;
    justify-content: center;
}

caption {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "Century Gothic", sans-serif;
    text-transform: uppercase;
}